/* start sign */
* {
    box-sizing: border-box;
}

.parent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 10px silver;
    margin: auto;
    top: 200px;
    display: none;
    padding: 20px;

}

.form.active {
    display: block;
}


h3 {
    color: var(--default-color);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}



.form .name-inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form .have-already
{
    text-align: center;
    margin-bottom: 10px;
}
.form .have-already a
{
   color: var(--default-color);
}




.submit-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .submit {
    width: 200px;
    padding: 15px;
    color: white;
    background-color: var(--default-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}



.form .submit:hover {
    background-color: var(--hover-color);
}


.form .check {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.form .check span {
    color: var(--default-color);
}

.inp-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.inp-box input{
width: 100%;
height: 100%;
border: 2px solid var(--default-color); 
border-radius: 5px;
padding-left: 10px;
font-size: 20px;

}


.inp-box input:focus + .title,
.inp-box input.foucs + .title{
top: 0;
transform: translateY(-50%);
font-size: 16px;
color: var(--default-color);

}


.inp-box .title{
background-color: white;
position: absolute;
color: var(--disabled-color);
left: 10px;
top: 50%;
transform: translateY(-50%);
font-size: 20px;
transition-duration: 0.3s;
padding: 0 3px;
user-select: none;
cursor:text;
}


.inp-box.correct input{
    border-color:#2dc235;
    
}
.inp-box.correct input:focus + .title,
.inp-box.correct input.foucs + .title{
color: #2dc235;

}
    
.inp-box.null input{
    border-color:#dc3545;
    
}
.inp-box.null input:focus + .title,
.inp-box.null input.foucs + .title{
color: #dc3545;

}
    
    

.form .pass-box p{
    margin: 10px 0 25px;
    font-size: 12px;
    padding: 0 10px;
    color: var(--hover-color);
}
.form .pass-box .inp-box {
    margin: 0;
}
.form .pass-box .inp-box.null + p {
    color: #dc3545;
}




@media (max-width: 600px) {
    .form {
        width: 100%;
        margin: 0 15px;
        }

}

.email-box p 
{
    display: none;
}
.email-box.not-valid  .inp-box
{
    margin: 0;
}
.email-box.not-valid p 
{
    margin: 10px 0 25px;
    font-size: 14px;
    color: #dc3545;
    display: block;
}

.email-box.not-valid  .inp-box input{
    border-color:#dc3545;
}
.email-box.not-valid  .inp-box .title{
    top: 0;
transform: translateY(-50%);
font-size: 16px;
color: #dc3545;
}

.phone-box p 
{
    display: none;
}
.phone-box.not-valid  .inp-box
{
    margin: 0;
}
.phone-box.not-valid p 
{
    margin: 10px 0 25px;
    font-size: 14px;
    color: #dc3545;
    display: block;
}

.phone-box.not-valid  .inp-box input{
    border-color:#dc3545;
}
.phone-box.not-valid  .inp-box .title{
    top: 0;
transform: translateY(-50%);
font-size: 16px;
color: #dc3545;
}


.pass-con-box p 
{
    display: none;
}
.pass-con-box.null  .inp-box
{
    margin: 0;
}
.pass-con-box.null  p 
{
    margin: 10px 0 25px;
    font-size: 14px;
    color: #dc3545;
    display: block;
}

.pass-con-box.null   .inp-box input{
    border-color:#dc3545;
}
.pass-con-box.null   .inp-box .title{
    top: 0;
transform: translateY(-50%);
font-size: 16px;
color: #dc3545;
}


.inp-box i 
{
    position: absolute;
    color: var(--disabled-color);
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}
